{% extends 'layouts/base_admin.html' %}

{% block title %}Créer entreprise | EliteBuro{% endblock %}


{% block content %}


<div class="admin-page-title">

    <h1>
        Créer une entreprise
    </h1>

    <p>
        CRUD admin - Gestion des entreprises
    </p>

</div>



<div class="admin-form-card">


<form method="post" enctype="multipart/form-data">

{% csrf_token %}


{{ form.non_field_errors }}



<div class="admin-form-grid">


{% for field in form %}

<div class="admin-form-group 
{% if field.name == 'description' %}
full
{% endif %}
">


<label>
    {{ field.label }}
</label>


{{ field }}



{% if field.help_text %}

<p class="form-help">
    {{ field.help_text }}
</p>

{% endif %}



{% for error in field.errors %}

<div class="form-error">

    {{ error }}

</div>

{% endfor %}



</div>


{% endfor %}



</div>





<div class="admin-form-actions">


<a href="{% url 'dashboard_admin:companies' %}" 
class="btn-admin-secondary">

Annuler

</a>



<button type="submit" 
class="btn-admin-primary">

Créer

</button>


</div>




</form>


</div>



{% endblock %}