{% extends 'layouts/base_admin.html' %}

{% block title %}Modifier utilisateur | EliteBuro{% endblock %}


{% block content %}

<div class="content">


    <!-- HEADER -->

    <div class="section-header">


        <div class="admin-page-title">


            <h1>
                Modifier utilisateur
            </h1>


            <p>
                {{ target_user.full_name|default:target_user.email }}
            </p>


        </div>


    </div>





    <!-- FORMULAIRE -->


    <div class="admin-form-card">


        <form method="post">


            {% csrf_token %}



            {{ form.non_field_errors }}




            <div class="admin-form-grid">



                {% for field in form %}


                <div class="admin-form-group">


                    <label for="{{ field.id_for_label }}">

                        {{ field.label }}

                    </label>



                    {{ field }}



                    {% if field.help_text %}

                    <small style="color:var(--text-light);font-size:12px;">

                        {{ field.help_text }}

                    </small>

                    {% endif %}




                    {% if field.errors %}

                    <div class="form-error">

                        {{ field.errors }}

                    </div>

                    {% endif %}



                </div>


                {% endfor %}



            </div>






            <!-- ACTIONS -->


            <div class="admin-form-actions">


                <a href="{% url 'dashboard_admin:users' %}"
                   class="btn-admin-secondary">


                    Retour


                </a>




                <button type="submit"
                        class="btn-admin-primary">


                    Enregistrer


                </button>



            </div>




        </form>



    </div>



</div>


{% endblock %}